:root {
    --primary-color: #ffb400;
    --secondary-color: #111;
    --white-color: #fff;
}

html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6rem;
    
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, *:before, *:after {
    box-sizing: inherit;
}